# Environment variables
.env
.env.*
!.env.example

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store

# Uploads
/uploads/

# Local development
*.local

# Virtual Environment
/backend/venv/
/env/
venv/
env/
